<h3>Magnum Chorum Bulletin Board</h3>

<body>Use this space to share things with the choir!</body>

<div class="bubble" *ngFor="let item of boardItems">

	<div class="bubble-title"><strong>{{item.author}}</strong> Today 12:00pm</div>
	<p class="bubble-text">{{item.comment}}</p>
	<div class="bubble-likes"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{item.plusses}}</div>
</div>

<br><br>
<form action="demo_form.asp">
  Share your thoughts: <input type="text" name="fname"><br>
  <input type="submit" value="Submit">
</form>