<h3>Calendar & Absences</h3>
<div class="">
  <div class="">
    <div class="card card-block top-absence-card inline-block">
      <div class="cursor-hand top-absence-title" routerLink="/absences/new"><a>Request New Absence</a></div>
    </div>
    <div class="card card-block top-absence-card inline-block">
      <div class="cursor-hand top-absence-title" routerLink="/absences"><a>View my Absences</a></div>
    </div>
 
<iframe src="https://calendar.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=mhht1vbvapr6t07tt5u4nbch1s%40group.calendar.google.com&amp;color=%238D6F47&amp;ctz=America%2FChicago" style="border-width:0" width="500" height="600" frameborder="0" scrolling="no"></iframe>
 

    <!-- <div class="card card-block top-absence-card" *ngFor="let absence of absencess">
      <div class="card-title top-absence-title">{{absence.eventName}}</div>
      <p class="card-text">{{absence.type}} -- {{absence.action}}</p>
    </div>
  </div> -->
</div>