/*
 * Define the widths: play around with these 
 * to get a best fit.
 */
/*
 * Basic styles, good for a large display. Everything fits in
 * one row, no wrapping. All text based cells grow equally.
 */




.table-row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: no-wrap;
  -webkit-flex-wrap: no-wrap;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  /*flex-direction: column;*/
  width: 100%;
}
.wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  margin-left: 5px;
  margin-right:5px;
  margin-bottom:10px;
  padding: 5px;
}
.column {
  flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  vertical-align: top;
}

.flex-four {
  flex:4;
}
.flex-three {
  flex:3;
}
.flex-two {
  flex:2;
}
.flex-one {
  flex:1;
}

.flex-name-date {

  display:inline-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex:5;
}
.flex-comment {

  display:inline-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex:4;
}
.flex-names {
  display:inline-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex:4;
}
.flex-type-action {
  
  display:inline-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex:2;
}



@media all and (max-width: 1000px) {

  .flex-name-date {
    flex-direction: column;
    -webkit-flex-direction: column;
    flex:3;
  }
  .flex-comment {
    flex-direction: column;
    -webkit-flex-direction: column;
    flex:4;
  }
  .flex-names {
    flex-direction: column;
    -webkit-flex-direction: column;
    flex:2;
  }
  .flex-type-action {
    flex-direction: column;
    -webkit-flex-direction: column;
    flex:1;
  }

}

/*
 * General good-look styles
 */
.table-row {
  border-bottom: 1px solid #e0e0e0;
  border-collapse: collapse;
  padding-top: 2px;
}
.table-row.header {
  background-color: #FFEEDB;
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
}
.glyphicon {
  color: #DDDDDD;
}
.header .glyphicon {
  color: #333;
}
.glyphicon-eye-open.active {
  color: blue;
}
.glyphicon-comment.active {
  color: #3EBB0D;
}
.glyphicon:hover {
  color: #666;
  cursor: pointer;
  text-decoration: underline;
}
.reporter {
  color: #999999;
}
.comment {
  font-style: italic;
}
.severity.high {
  color: red;
}
.severity.medium {
  color: blue;
}
.severity.low {
  color: green;
}
