<div>


<div class="container-fluid" style="margin-top: 10px">

  <button type="button" class="btn btn-primary">Request a New Ansence - Toggle</button>
  <br><br>

  <absence-detail [id]="selectedID"></absence-detail>

  <div class="table-row header">
    <div class="column index">#</div>
    <div class="wrapper attributes">
      <div class="wrapper title-comment-module-reporter">
        <div class="wrapper title-comment">
          <div class="column title">Event</div>
          <div class="column comment">Comment</div>
        </div>
        <div class="wrapper module-reporter">
          <div class="column module">Requested By</div>
          <div class="column reporter">Reviewed By</div>
        </div>
      </div>
      <div class="wrapper status-owner-severity">
        <div class="wrapper status-owner">
          <div class="column status">Status</div>
          <div class="column owner">Action</div>
        </div>
      </div>
    </div>
    <div class="wrapper icons">
      <div title="Add comment" class="column add-comment">
        <span class="glyphicon glyphicon-comment"></span>
      </div>
    </div>
    <div class="wrapper dates">
      <div class="column date">Event Date</div>
    </div>
  </div>

  <div class="table-row" *ngFor="let absence of absences">
    <div class="column index">1</div>
    <div class="wrapper attributes">
      <div class="wrapper title-comment-module-reporter">
        <div class="wrapper title-comment">
          <div class="column title">{{absence.eventName}}</div>
          <div class="column comment">{{absence.comments[0].comment}}</div>
        <div class="wrapper module-reporter">
          <div class="column module">{{absence.userName}}</div>
          <div class="column reporter">......</div>
        </div>
      </div>
      <div class="wrapper status-owner-severity">
        <div class="wrapper status-owner">
          <div class="column status"><span class="label label-primary">{{absence.action}}</span></div>
          <div class="column owner">{{absence.type}}</div>
        </div>
      </div>
    </div>
    <div class="wrapper icons">
      <div class="column add-comment"><span class="glyphicon glyphicon-comment"> </span></div>
    </div>
    <div class="wrapper dates">
      <div class="column date">{{absence.enteredDate}}</div>
    </div>
  </div>

</div>

</div>

