<div>


<div class="container-fluid" style="margin-top: 10px">

  <button type="button" class="btn btn-primary" routerLink="/absences/new">Request New Absence</button>
  <br><br>

  <absence-detail [id]="selectedID"></absence-detail>


{{test}}
{{hi}}




<div>
  <div class="table-row header">
    <div class="flex-name-date">
      <div class="column wrapper flex-three">Event Title</div>
      <div class="column wrapper flex-two">Event Date</div>
    </div>
    
    <div class="flex-comment">
      <div class="column wrapper flex-four">Comment</div>
    </div>

    <div class="flex-names">
      <div class="column wrapper flex-two">Requested By</div>
      <div class="column wrapper flex-two">Reviewed By</div>
    </div>

    <div class="flex-type-action">
      <div class="column wrapper flex-one">Type</div>
      <div class="column wrapper flex-one">Status</div>
    </div>
  </div>

  <div class="table-row" *ngFor="let absence of absences">
    <div class="flex-name-date">
      <div class="column wrapper flex-three">{{absence.eventName}}</div>
      <div class="column wrapper flex-two">{{absence.enteredDate | date}}</div>
    </div>
    
    <div class="flex-comment">
      <div class="column wrapper flex-four">{{absence.comments[0].comment}}</div>
    </div>

    <div class="flex-names">
      <div class="column wrapper flex-two">{{absence.userName}}</div>
      <div class="column wrapper flex-two">......</div>
    </div>

    <div class="flex-type-action">
      <div class="column wrapper flex-one">{{absence.type}}</div>
      <div class="flex-one">
        <div class="label"
        [class.label-info]="absence.action == 'Requested'"
        [class.label-success]="absence.action == 'Approved'"
        [class.label-danger]="absence.action == 'Deneyed'">{{absence.action}}</div>
      </div>
    </div>

  </div>
<div>

</div>
</div>

