<body class="dashbaord-image" background="/app/assets/bg-body-midwinter.jpg">  
    <img class="dashboard-logo-image hidden-xs cursor-hand" routerLink="" src="/app/assets/25th-anniversary-log.png"> 
</body>
<div class="container">
    This intranet is provided for the use of magnum chorum singer. <br>
    <a href="http://www.magnumchorum.org">Please return me to the Magnum Chorum site.</a>   
        {{test}}
</div>

    <div class="container" >
    <div class="navbar-header">
      <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
      <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
    </div>

</div>

